.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
    }
    .aima img {
      margin: 0;
    }
    .aima .description {
      padding: 0;
      margin: 0;
      color: #000;
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .aima .title {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      margin: 0;
      margin-bottom: 14px;
    }
    .aima .big_title {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      margin: 0;
      margin-bottom: 12px;
    }
    .aima ul {
      list-style: disc;
      margin: 0;
    }
    .aima ul li {
      line-height: normal;
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .aima {
      overflow: hidden;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .aima ul {
      padding: 0;
      padding-left: 20px;
    }
    .aima ul li {
      padding: 0;
    }
    .aima div {
      padding: 0;
    }
    div.aima {
      padding: 0;
    }
    .aima br {
      display: block;
    }
    .product__body .el-tabs__header {
      z-index: 6;
    }
    .aima{
      max-width: 1366px;
      margin: 0 auto;
      overflow-x: hidden;
    }
    .aima img{
      width: 100%;
      display: block;
    }

    /* @media screen and (min-width:666px) {
        body{
            padding: 0 24px;
        }
        
    } */

    .aima .scooter{
        background: radial-gradient(93.44% 66.78% at 58.61% 47.6%, rgb(163, 212, 255) 0%, rgb(35, 91, 158) 100%);
        position: relative;
        padding: 32px 16px;
        display: grid;
        gap: 16px;
    }

    .aima .scooter .scooter_title{
        text-align: center;
        padding: 0 20px;
        
    }
    .aima .scooter .scooter_block{
        display: grid;
        gap: 16px;
    }

    .aima .white{
        color: #fff;

    }

    .aima .scooter #absolute{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 302px;
    }

    @media screen and (min-width:666px) {
        .aima .scooter {
            padding:40px 24px ;
            gap: 32px;
        }
        .aima .scooter .scooter_block{
            grid-template-columns: repeat(2,1fr);
            gap: 0px;  
            align-items: center;
        }
        .aima .scooter .scooter_title{
            text-align: center;
            padding: 0 150px;
        }
        .aima .scooter .scooter_block .scooter_text{
            padding-right: 11px;
        }
        .aima .scooter .scooter_block .scooter_img{
            grid-column-start: 2;
            grid-row-start: 1;
            padding-left: 22px;
        }
        .aima .scooter #absolute{
            width: 400px;
        }
    }

    @media screen and (min-width:1024px) {

        .aima .big_title{
            font-size: 30px;
        }
        .aima .title{
            font-size: 24px;
        }

        .aima .scooter {
            padding:40px 64px ;
            gap: 32px;
        }
        .aima .scooter .scooter_block{
            gap: 32px;  
        }
        .aima .scooter .scooter_title{
            text-align: center;
            padding: 0 180px;
        }
        .aima .scooter .scooter_block .scooter_text{
            padding-right: 0px;
        }
        .aima .scooter .scooter_block .scooter_img{
            padding-left: 0px;
        }
        .aima .scooter #absolute{
            width: 485px;
        }
    }

    @media screen and (min-width:1366px) {

        .aima .big_title{
            font-size: 46px;
        }
        .aima .title{
            font-size: 32px;
            margin-bottom: 18px;
        }
        .aima .description{
            font-size: 18px;
        }

        .aima .scooter {
            padding:40px 150px ;
            gap: 60px;
        }
        .aima .scooter .scooter_block{
            gap: 0px;  
        }
        .aima .scooter .scooter_title{
            text-align: center;
            padding: 0 200px;
        }
        .aima .scooter .scooter_block .scooter_text{
            padding-right: 0px;
        }
        .aima .scooter .scooter_block .scooter_img{
            padding-left: 0px;
        }
        .aima .scooter #absolute{
            width: 640px;
        }
    }

    /* puzle_block */

    .aima .puzle_block{
        display: grid;
        padding: 40px 16px;
        grid-template-columns: repeat(2,1fr);
        gap: 24px 16px;
        text-align: center;
    }
    .aima .puzle_block img{
        width: 64px;
        margin: 0 auto 10px;
    }

    .aima .puzle_block .description{
        color: rgba(0, 0, 0, 0.7);
    }

    @media screen and (min-width:666px) {
        .aima .puzle_block{
            padding: 24px 0;
            grid-template-columns: 1.1fr repeat(3,1fr);
            gap: 12px;
        }
        .aima .puzle_block img{
            width: 56px;
        }
    }
    @media screen and (min-width:1024px) {
        .aima .puzle_block{
            padding: 32px 64px 0;
            grid-template-columns: 1.1fr repeat(3,1fr);
            gap: 17px;
        }
        .aima .puzle_block img{
            width: 64px;
        }
    }
    @media screen and (min-width:1366px) {
        .aima .puzle_block{
            padding: 40px 64px 0 80px ;
            grid-template-columns: 1.1fr repeat(3,1fr);
            gap: 24px;
        }
        .aima .puzle_block img{
            width: 88px;
        }
    }

    /* bosch */


    .aima .bosch{
        padding: 40px 16px;
    }

    @media screen and (min-width:666px) {
        .aima .bosch{
            padding: 40px;
        }
    }
    @media screen and (min-width:1024px) {
        .aima .bosch{
            padding: 40px 85px 40px 64px;
        }
        .aima .bosch:nth-child(5){
            padding: 40px 64px;
        }
        .aima .bosch:nth-child(7){
            padding: 40px 64px;
        }
    }
    @media screen and (min-width:1366px) {
        .aima .bosch{
            padding: 40px 216px 40px 80px;
        }
        .aima .bosch:nth-child(5){
            padding: 40px 80px;
        }
        .aima .bosch:nth-child(7){
            padding: 40px 80px;
        }
    }


    /* load_capacity */


    .aima .load_capacity{
        padding: 40px 16px;
        display: grid;
        gap: 16px;
    }

    .aima .load_capacity .load_capacity_text br{
        display: block;
    }


    @media screen and (min-width:666px) {
        .aima .load_capacity{
            grid-template-columns: 1fr 1.76fr;
            align-items: center;
            padding: 40px;
            gap: 32px;
        }

        .aima .load_capacity .title{
            padding-right: 40px;
        }
    
        .aima .load_capacity .load_capacity_text br{
            display: none;
        }

        .aima .load_capacity .load_capacity_text{
            grid-column-start: 2;
            grid-row-start: 1;
        }

    }

    @media screen and (min-width:1024px) {
        .aima .load_capacity{
            grid-template-columns:1fr 1.8fr;
            padding: 40px 64px;
            gap: 40px;
        }

        .aima .load_capacity .title{
            padding-right: 0px;
        }
    
    }



    @media screen and (min-width:1366px) {
        .aima .load_capacity{
            grid-template-columns: 386px auto;
            padding: 50px 82.8px 50px 80px;
            gap: 40px;
        }

        .aima .load_capacity .title{
            padding-right: 24px;
        }

    }


    /* good_handling */

    .aima .good_handling{
        background:radial-gradient(93.44% 66.78% at 58.61% 47.6%, rgb(163, 212, 255) 0%, rgb(35, 91, 158) 100%);
        padding: 40px 16px;
        display: grid;
        gap: 16px;
        position: relative;
    }

    .aima .good_handling #absolute{
        position: absolute;
        top: 0;
        right: -115px;
        z-index: 1;
    }

    @media screen and (min-width:666px) {
        .aima .good_handling{
            padding: 40px;
            gap: 32px;
        }
        .aima .good_handling #absolute{
            top: -50px;
            right: -140px;
            width: 510px;
        }
    }

    @media screen and (min-width:1024px) {
        .aima .good_handling{
            padding: 40px 64px;
            gap: 32px;
        }
        .aima .good_handling .good_handling_img{
           padding: 0 110px;
        }
        .aima .good_handling #absolute{
            top: 0;
            right:0;
            width: 470px;
        }
    }

    @media screen and (min-width:1366px) {
        .aima .good_handling{
            padding: 50px 80px;
            gap: 40px;
        }
        .aima .good_handling .good_handling_img{
           padding: 0 289px;
        }
        .aima .good_handling #absolute{
            top: 0;
            right:0;
            width: 560px;
        }
    }
    

    /* no_blind_spots */

    .aima .no_blind_spots{
        background: radial-gradient(93.44% 66.78% at 58.61% 47.6%, rgb(163, 212, 255) 0%, rgb(35, 91, 158) 100%);
        padding: 40px 16px;
        display: grid;
        gap: 16px ;
        position: relative;
    }

    .aima .no_blind_spots .no_blind_spots_text{
        display: grid;
        gap: 16px;
    }
    .aima .no_blind_spots #absolute{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @media screen and (min-width:666px) {
        .aima .no_blind_spots{
            align-items: center;
           grid-template-columns: 1.23fr 1fr;
           padding: 40px;
           gap: 32px;
        }
    
        .aima .no_blind_spots .no_blind_spots_text{
            gap: 32px;    
        }
        .aima .no_blind_spots #absolute{
            width: 340px;
        }
    }

    @media screen and (min-width:1024px) {
        .aima .no_blind_spots{
           grid-template-columns: 2.1fr 1fr;
           padding: 40px 64px;
        }
    }
    @media screen and (min-width:1366px) {
        .aima .no_blind_spots{
           grid-template-columns: auto 395px;
           padding: 40px 55px;
           gap: 40px;
        }
        .aima .no_blind_spots .no_blind_spots_text{
            gap: 40px;    
        }
        .aima .no_blind_spots #absolute{
            width: 400px;
        }
    }
    /* notes */
    .aima .notes{
        padding: 40px 16px;
        display: grid;
        gap: 8px;
    }
    @media screen and (min-width:666px) {
        .aima .notes{
            padding: 40px;
        }
    }
    @media screen and (min-width:1024px) {
        .aima .notes{
            padding: 40px 64px;
        }
    }
    @media screen and (min-width:1024px) {
        .aima .notes{
            padding: 40px 80px;
            gap: 10px;
        }
    }

    /* block_tree */

.aima .block_tree{
    padding: 0 16px 40px;
    display: grid;
    gap: 16px;
}

@media screen and (min-width:666px) {
    .aima .block_tree{
        padding: 0 5px;
        gap: 32px;
        align-items: end;
        grid-template-areas: 
        "a a"
        "b c";
    }

    .aima .block_tree .block_three_text{
        grid-area: a;
        text-align: center;
    }

    .aima .block_tree img{
        grid-area: b;
        width: 200px;
        margin-left: auto;
    }
    .aima .block_tree img:last-child{
        grid-area: c;
        margin-left: 0;
        margin-right: auto;
    }
}

@media screen and (min-width:1024px) {
    .aima .block_tree{
        padding: 0 64px 0 0;
        align-items: center;
        grid-template-columns: 1fr 1.3fr 1fr;
        grid-template-areas: 
        "b a c"
    }
    .aima .block_tree .block_three_text{
        grid-area: a;
        text-align: left;
    }
    .aima .block_tree .title{
        text-align: center;
    }
    .aima .block_tree img{
        grid-area: b;
        width: 260px;
        margin-left: 0;
    }
    .aima .block_tree img:last-child{
        grid-area: c;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width:1366px) {
    .aima .block_tree{
        margin: 0 40px;
        padding: 0;
        gap: 40px;
        grid-template-columns: 1fr 470px 1fr;
    }
    .aima .block_tree img{
        width: 360px;
        margin: 0 auto;
    }
}